<%-  include('header', {title: 'Snippets: Dashboard'}); -%>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img class="nav-logo" src="/logo-line.svg" />
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/blog/<%= username %>">My Blog</a></li>
        <li><a href="/entry">Create Entry</a></li>
        <li><form class="logout-form" action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="Log Out"/>
        </form>
      </ul>
    </nav>
    <div class="dashboard-body">
      <div class="welcome-message">
        <h1>Welcome back, <%= username %>!</h1>
      </div>
      <div class="user-stats">
        <h3>You have written <%= numOfEntries[0] %> entries so far</h3>
        <a href="/blog/<%= username %>">Click here to view your blog!</a>
      </div>
      <div class="other-blogs">
        <h3>Other Snippets users:</h3>
          <table>
            <thead>
              <tr>
                <th>Username</th>
                <th>Blog Link</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < usersData.length; i += 1) { %>
                <% if (usersData[i].username !== username) { %> 
              <tr>
                <td><%= usersData[i].username %></td>
                <td><a href="/blog/<%= usersData[i].username %>">Click here to view blog</a></td>
              </tr>
              <% } %> 
              <% } %>
            </tbody>
          </table>
      </div>
    </div>
  </body>
</html>
