<%-  include('header', {title: 'Snippets: Edit Entry'}); -%>
<%-
include('navbar2'); -%>  
<body>
    <div class="editentry-body">
      <div class="para-1">
        <h1>Edit Entry</h1>
      </div>
        <div class="form">
    <form class="editentry-form" id="editentry-form" action="/entry/<%= data.id %>/?_method=PUT" method="POST">
      <div class="form-group">
        <label for="title" class="form-label">Title</label><br/>
        <input type="text" id="title" name="title" value="<%= data.title %>" required/>
      </div>
      <div class="form-group">
        <label for="content" class="form-label">Content</label><br/>
        <textarea type="text" form="editentry-form" id="content" name="content" rows="10" cols="70" required><%= data.content %></textarea>
      </div>
      <input type="submit" id="submit" value="Edit Entry"/>
    </form>
    </div>
  </div>
  </body>
</html>
