<%-  include('header', {title: `Snippets: View Note`}); -%>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img class="nav-logo" src="/logo-line.svg" />
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/login">My Blog</a></li>
        <li><a href="/entry">Create New Entry</a></li>
        <li><form action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="Log Out"/>
        </form>
      </ul>
    </nav>   
    <div class="viewentry-body">
      <div class="title">
        <h1><%= data.title %></h1>
      </div>
      <div class="content">
        <p><%= data.content %></p>
      </div>
      <div class="date-created">
        <p>Posted on: <%= data.created_at %></p>
      </div>
      <div class="created-by">
        <p>Created by: <%= data.username %></p>
      </div>
      <% if (cookiesInfo[0] === data.username) { %>
      <div class="links">
        <a href="/entry/<%= data.entry_id %>/edit">Edit Entry</a>
        <form action="/entry/<%= data.entry_id %>?_method=DELETE" method="POST"><input type="submit" value="Delete Note" onclick="return confirm('Are you sure you want to delete this entry?');"/></form>
      </div>
      <% } %>
    </div>
  </body>
</html>
