<%-  include('header', {title: 'Snippets: View Blog'}); -%>
<%-
include('navbar2'); -%>  
<body>
<div class="viewblog-body">
  <div class="header">
    <h1>Welcome to <%= currentBlogUsername[0] %>'s blog!</h1>
  </div>
  <% if (data.length === 0) { %> 
    <div class="header">
      <h1>This user has no entries &#128517</h1>
    </div>
    <% } else if (data.length !== 0) { %> 
  <% for (let i = 0; i < data.length; i += 1) { %>
  <div class="container">
    <div class="entry">
      <h2><%= data[i].title %></h2>
      <h3><%= data[i].content %></h3>
      <div class="last-line">
      <p>Posted on: <%= data[i].created_at %></p>
        <a href="/entry/<%= data[i].entry_id %>"><button type="button">&#x1f440; View</button></a>
      </div>
    </div>
  </div>
  <% } %> 
  <% } %>
</div>
</body>
</html>