<%-  include('header', {title: 'Snippets: View Blog'}); -%>
<%-
include('navbar2'); -%>  
<body>
<div class="viewblog-body">
  <% for (let i = 0; i < data.length; i += 1) { %>
  <div class="container">
    <div class="entry">
      <h1><%= data[i].title %></h1>
      <h3><%= data[i].content %></h3>
      <p><%= data[i].created_at %></p>
      <p>Created by: <%= data[i].username %></p>
      <div class="links">
        <a href="/entry/<%= data[i].entry_id %>">View Entry</a>
      </div>
    </div>
  </div>
  <% } %>
</div>
</body>
</html>