<%-  include('header', {title: 'Snippets: View Blog'}); -%>
<body>
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <img class="nav-logo" src="/logo-line.svg" />
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/blog/<%= cookiesInfo[0] %> ">My Blog</a></li>
      <li><a href="/entry">Create New Entry</a></li>
      <li><form action="/logout?_method=DELETE" method="POST">
        <input type="submit" value="Log Out"/>
      </form>
    </ul>
  </nav>
<div class="viewblog-body">
  <% for (let i = 0; i < data.length; i += 1) { %>
  <div class="container">
    <div class="entry">
      <h1><%= data[i].title %></h1>
      <h3><%= data[i].content %></h3>
      <p><%= data[i].created_at %></p>
      <p>Created by: <%= data[i].username %></p>
      <div class="links">
        <a href="/entry/<%= data[i].entry_id %>">View Entry</a>
        <% if (cookiesInfo[0] === data[i].username) { %>
        <a href="/entry/<%= data[i].entry_id %>/edit">Edit Entry</a>
        <form action="/entry/<%= data.entry_id %>?_method=DELETE" method="POST"><input type="submit" value="Delete Note" onclick="return confirm('Are you sure you want to delete this entry?');"/></form>
      </div>
      <% } %>
    </div>
    <div class="comments">
      Comments will go here
    </div>
  </div>
  <% } %>
</div>
</body>
</html>